h1 {
    text-align: center;
    color: black;
}
* {
    background-color:beige;
}

img { 
    width: 500px;
    height: 400px;
}

#bt {
    color: blueviolet;
    text-decoration: black;
}

#movies-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  main {
    display: flex;
    flex-wrap: nowrap;
  }
  
  li {
    margin-right: 20px;
  }
  